.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}
.tab button:hover{
    background-color: #ddd;
}
.tab button.active{
    background-color: #ccc;
}
.tab-content{
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
img{
    display: inline-block;
    height: 100%;
    width: 100%;
}
input, textarea{
    display: block;
    margin: 10px 0;
    width: 300px;
}
textarea{
    height: 200px;
}
.close-city{
    display: none;
}
.open-city{
    display: block;
}
.one{
   margin-bottom: 10px;
}
